.prev-song-btn {
    .prev-song-btn-single-arr {
        border: solid black;
        border-width: 0 4px 4px 0;
        display: inline-block;
        padding: 4px;
        transform: rotate(135deg);
        transform: rotate(135deg);
        cursor: pointer;
    }
}

.next-song-btn {
    .next-song-btn-single-arr {
        border: solid black;
        border-width: 0 4px 4px 0;
        display: inline-block;
        padding: 4px;
        transform: rotate(-45deg);
        transform: rotate(-45deg);
        cursor: pointer;
    }
}

.play-song-btn {
	width: 0;
	height: 0;
	border-top: 15px solid transparent;
	border-left: 20px solid rgb(218, 215, 215);
	border-bottom: 15px solid transparent;
    cursor: pointer;
    &:hover {
        transform: scale(1.2);
    }
}

.pause-song-btn {
    cursor: pointer;

    .pausong-btn-wrapper {
        width: 38px;
        height: 38px;
        &:hover {
            transform: scale(1.2);
            background-color: rgba($color: #000000, $alpha: 0.4);
        }
        border-radius: 4px;
        display: flex;
        justify-content: center;
        align-items: center;

        .pause-song-btn-part1 {
            width: 10px;
            height: 26px;
            border-radius: 3px;
            background-color: black;
        }

        .pause-song-btn-part2 {
            width: 3px;
            height: 26px;
        }

        .pause-song-btn-part3 {
            width: 10px;
            height: 26px;
            border-radius: 3px;
            background-color: black;

        }

    }
}